.login-page{
    background: url("https://i.pinimg.com/originals/fd/91/13/fd91131ea693096d6be5e8aa99d18f9e.jpg");
    background-size: cover;
    height: 100vh;    
    display: flex;
    justify-content: center;
    align-items: center;
}