body{
    color: lightgray;
}

.login-form{
    padding: 40px 30px;
    max-width: 400px;
    border-radius: 6px;
    width:95%;
    margin:auto;
}

.login-header{
    text-align: center;
    line-height: 1.5;
    padding: 15px 0;
}

.login-header h1{
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.login-link{
    color: darkcyan;
}