.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.25;      
}

.sidebar-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    margin-bottom: 20px;
    padding: 15px;
}

.sidebar-channels-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sidebar-body{  
    color: #808086;
    padding: 10px 15px;  
    flex:1
}

.sidebar-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sidebar hr{
    border: 1px solid #686868;
}

.sidebar-footer img{
    width: 60px;
    border-radius: 100%;
}

.user-info, .sidebar-footer{
    padding: 10px 0;
}