.message{
    display: flex;
    padding: 15px 20px;
}

.profile img{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.message-info{    
    margin-left: 20px;
}

.message-info h4{
    font-size: 0.9rem;
}

.message-info p{
    margin: 10px 0;
    font-size: 0.8rem;
}

.message-timestamp{
    color: gray;
    font-size: 9px;
    margin: 50px;
}